@import "../../scss/variables.scss";

.quiz-email {
    .input {
        input {
            padding: 10px;
            font-size: 22px;
            &:focus {
                outline: none;
                background: $white;
            }
        }
        margin-bottom: 30px;
    }
    .error {
        color: $red;
        padding: 10px;
        margin: 10px; 
    }
}