@import "./scss/variables.scss";

.btg-quiz-intro {
  color: $white;
  text-align: center;
  padding: 30px 0 80px;

  p {
    font-size: 1.2em;
  }

  .input {
    input {
      padding: 10px;
      font-size: 22px;
    }
    margin-bottom: 30px;
  }

  button {
    background: red;
    font-size: 22px;
    padding: 15px 24px;
    color: #fff;
    border: 0;
  }

}